.trial {
  overflow:hidden;
}
.trial p {
  transition: transform .2s;
}
.trial:hover p {
  transform: scale(2);
}
.btn {
  overflow: hidden;
}
.btn i {
  transition: transform .2s; /* Animation */
}

.btn:hover i {
  transform: scale(1.5);
}
